<h2><%= @user.name %> さんとのチャット</h2>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user == current_user %>
      <p class="text-right"><%= chat.message %></p>
    <% else %>
      <p class="text-left"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<div id="chat-form">
  <%= form_with model: @chat, data: {remote: true} do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
  <% end %>
</div>