<div class="row">

  <%= render 'layouts/sidebar', user: @book.user, book: @new_book %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr id="show_post_<%= @book.id %>">
          <%= render 'show_post', book: @book %>
        </tr>
      </tbody>
    </table>

    <h3>Book Comments</h3>
    <table class="table" id="comment-table">
      <%= render 'comment_table', book: @book %>
    </table>

    <div class="comment-form">
      <%= form_with(model: [@book, @book_comment]) do |f| %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>

  </div>

</div>